<h1>Build-a-Cat Factory</h1>

<form action="new_url">
<label for="name">Name:</label>
<input type="text">
<br>
<br>
<label for="sex">Sex:</label><br>
<input type="radio"  name="sex" value = "cat[sex]" > M<br>
<input type="radio"  name="sex" value = "cat[sex]" >F<br>
<br>
<br>

<label for="birthdate">Birthdate</label>
<input type="date">
<br>
<br>
</form>


real talk, no woke cats

<input type="submit" value="<%= action = 'add cat'%>">